@font-face {
  font-family: "pixel12";
  src: url('pixel12.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pixopedia";
  src: url('pixopedia.ttf');
  font-weight: normal;
  font-style: normal;
}
